@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: 'GE Flow';
    src: url('../fonts/GEFlow-Bold.woff2') format('woff2'), url('../fonts/GEFlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GE Flow';
    src: url('../fonts/GEFlow.woff2') format('woff2'), url('../fonts/GEFlow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LineIcons';
    src: url('../fonts/LineIcons.eot?y2l643');
    src: url('../fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'), url('../fonts/LineIcons.ttf?y2l643') format('truetype'), url('../fonts/LineIcons.woff?y2l643') format('woff'), url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    /*font-family: 'GE Flow';*/
    font-family: 'Verdana';
}

a, a:link, a:visited, a:active, a:hover, button, input, select, textarea, i {
    text-decoration: none;
    outline: none;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

input, select, textarea {
    width: 100%;
    outline: none;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
        box-shadow: none;
    }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    outline-offset: 0;
}

img {
    max-width: 100%;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.LTR {
    direction: ltr;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.comnpadding {
    padding: 50px 0;
}

.comntitle {
    font-size: 36px;
    font-weight: bold;
    color: #1a365e;
    margin-top: 0;
    margin-bottom: 30px;
}

.greybg {
    background: #f7f7f7;
}

.bg1 {
    background: #d2966a;
}

.bg2 {
    background: #60aeb7;
}

.bg3 {
    background: #83ad6f;
}

/*===================================================
 
 ==================================================*/


header {
    padding: 10px 0;
    background: #f7f7f7;
}

.navbar-collapse {
    padding: 0;
}

.navbar {
    min-height: auto;
    margin-bottom: 0;
}

.navbar-default {
    background: none;
    border: none;
}

    .navbar-default .navbar-nav > li > a {
        color: #1a365e;
        font-size: 22px;
        font-weight: bold;
        margin-left: 20px;
    }

        .navbar-default .navbar-nav > li > a span {
            color: #d9bd68;
            font-weight: bold;
            margin-right: 5px;
        }

        .navbar-default .navbar-nav > .open > a,
        .navbar-default .navbar-nav > .open > a:hover,
        .navbar-default .navbar-nav > .open > a:focus,
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #d9bd68;
            background-color: transparent;
        }

.search {
    float: right;
    margin-top: 7px;
}

    .search i {
        color: #8a8a8a;
        font-size: 24px;
        transform: rotateY(200deg);
        margin-left: 10px;
        cursor: pointer;
    }

    .search span {
        font-size: 16px;
        color: #777;
    }

.searchbox {
    display: none;
}

.searchdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    z-index: 5;
}

    .searchdiv input {
        height: 60px;
        border: 4px solid #d9bd68;
        padding: 5px 15px;
        font-size: 18px;
        color: #1a365e;
        font-weight: bold;
    }

    .searchdiv button {
        height: 60px;
        border: none;
        background: #d9bd68;
        color: #fff;
        font-size: 20px;
        padding: 5px 25px;
    }

    .searchdiv i {
        color: #fff;
        font-size: 26px;
        top: 10%;
        left: 10%;
        /* background: #d9bd68; */
        text-align: center;
        line-height: 60px;
        padding: 0px 20px;
        margin-left: 5px;
        cursor: pointer;
    }

.dropdown-menu {
    min-width: 250px;
    padding: 0;
}

    .dropdown-menu > li > a {
        padding: 10px 20px;
        color: #1a365e;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        position: relative;
    }

        .dropdown-menu > li > a::after {
            content: "";
            width: 0px;
            height: 100%;
            background: #d9bd68;
            position: absolute;
            top: 0;
            right: 0;
            -moz-transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }

        .dropdown-menu > li > a:hover::after {
            width: 10px;
        }

    .dropdown-menu > li:last-child a {
        border-bottom: none;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: #1a365e;
    }

.top_other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 30px;
}

.topsocial span {
    font-size: 16px;
    color: #777;
    margin-left: 20px;
}

.topsocial a {
    margin-right: 5px;
}

.language select {
    width: auto;
    color: #8a8a8a;
    background: none;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.langlnk {
    width: auto;
    color: #8a8a8a;
    background: none;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a.langlnk:hover{
    width: auto;
    color: #8a8a8a;
    background: none;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.language i {
    font-size: 22px;
    color: #9b9b9b;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.toplink a::before {
    content: "";
    background: #8a8a8a;
    width: 1px;
    height: 80%;
    position: absolute;
   /* left: -15px;*/
    top: 10%;
}

.sidebar a.Seeall {
    right: 16px;
}

.toplink a {
    font-size: 16px;
    color: #8a8a8a;
    position: relative;
    margin-left: 30px;
}

    .toplink a:last-child {
        margin-left: 0px;
    }

        .toplink a:last-child::before {
            display: none;
        }

.copyright {
    background: #1a365e;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
}

.copylink {
    text-align: left;
}

    .copylink a {
        color: #94d8ff;
        margin-right: 10px;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

.subscribe_now {
    background: #ebebeb;
    padding: 30px 0;
}

.newslatter {
    margin-top: 20px;
}

    .newslatter strong {
        font-size: 23px;
        color: #1a365e;
        /*margin-left: 10px;*/
    }

    .newslatter span {
        font-size: 17px;
        color: #777;
    }

.subscribe {
    display: flex;
}

    .subscribe input {
        background: #fff;
        border: none;
        height: 76px;
        padding: 10px 20px;
        font-size: 19px;
        color: #1a365e;
    }

        .subscribe input::-webkit-input-placeholder {
            color: #c5c5c5;
        }

        .subscribe input::-moz-placeholder {
            color: #c5c5c5;
        }

        .subscribe input:-ms-input-placeholder {
            color: #c5c5c5;
        }

        .subscribe input:-moz-placeholder {
            color: #c5c5c5;
        }

    .subscribe button {
        background: #1a365e;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        border: none;
        width: 180px;
    }


.carousel-control {
    position: absolute;
    top: auto;
    bottom: 100px;
    right: 0;
    width: 110px;
    height: 150px;
    line-height: 150px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background: #d9bd68;
    opacity: 1;
    background-image: none;
}

    .carousel-control.left {
        background-image: none;
        right: -110px;
    }

    .carousel-control.right {
        background-image: none;
        left: -110px;
    }

.banner {
    margin: 50px 0;
}

.banner_caption aside {
    font-size: 46px;
    line-height: 50px;
    color: #1a365e;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.banner_caption span {
    font-size: 17px;
    color: #b99f50;
    display: block;
    margin-bottom: 5px;
}

.banner_caption > small {
    font-size: 16px;
    color: #8a8a8a;
    font-family: 'Montserrat', sans-serif;
}

.banner_caption small i {
    margin-left: 5px;
    color: #777;
    font-size: 20px;
}

.bluebox::before {
    content: "";
    background: #1a365e;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
}

.bluebox {
    background: #1a365e;
    padding: 50px;
    margin-top: 25px;
    position: relative;
}

    .bluebox p {
        font-size: 18px;
        color: #fff;
    }

    .bluebox a.detail {
        background: #2f6c8d;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        padding: 10px 40px;
        margin-top: 28px;
        text-decoration: none;
    }

    .bluebox strong {
        color: #d9bd68;
        font-size: 17px;
        display: block;
        margin-top: 30px;
    }

    .bluebox small {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
    }

    .bluebox a {
        font-size: 16px;
        color: #c1d9e4;
        text-decoration: underline;
    }

.banner_ul {
    margin-bottom: 0;
    position: absolute;
    bottom: 12px;
    right: 42px;
    display: flex;
}

    .banner_ul li {
        width: 31.5%;
        margin-left: 25px;
        border-left: 1px solid #cccccc;
    }

        .banner_ul li:last-child {
            margin-left: 0px;
            border-left: none;
        }

    .banner_ul h4 {
        font-size: 24px;
        color: #1a365e;
        margin: 0;
    }

    .banner_ul span {
        font-size: 17px;
        color: #b99f50;
        font-weight: bold;
        margin: 0;
    }

    .banner_ul small {
        font-size: 17px;
        color: #8a8a8a;
        font-family: 'Montserrat', sans-serif;
    }

.bannerimg {
    position: relative;
}

    .bannerimg span {
        position: absolute;
        background: #83ad6f;
        color: #fff;
        font-size: 18px;
        padding: 8px 20px;
        bottom: 0;
        left: 0;
    }


.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}



.Researchstudies_InstituteNews h1 {
    border-bottom: 3px solid #bababa;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .Researchstudies_InstituteNews h1 a {
        font-size: 16px;
        color: #b99f50;
    }

        .Researchstudies_InstituteNews h1 a i {
            font-size: 22px;
            color: #b99f50;
            font-weight: bold;
            margin-right: 10px;
            vertical-align: middle;
        }


.Institute_News li {
    background: #f7f7f7;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .Institute_News li strong {
        font-size: 30px;
        color: #1a365e;
        display: block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        line-height: 30px;
    }

    .Institute_News li small {
        font-size: 18px;
        color: #1a365e;
        display: block;
        text-align: center;
        font-weight: bold;
    }

    .Institute_News li p {
        font-size: 18px;
        color: #777;
        font-weight: bold;
        margin: 0;
    }

    .Institute_News li:hover p {
        color: #b99f50;
    }

    .Institute_News li span {
        border-left: 1px solid #d7d7d7;
        margin-left: 20px;
        padding: 0 10px 0 20px;
    }


.Research_studies li {
    display: flex;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    .Research_studies li:last-child {
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

.research_img {
    position: relative;
    width: 36%;
}

    .research_img img {
        width: 100%;
    }

    .research_img span {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        color: #fff;
        padding: 5px 10px;
        min-width: 110px;
        text-align: center;
    }

.research_text {
    padding-right: 50px;
    width: 64%;
}

    .research_text h3 {
        font-size: 24px;
        color: #777;
        font-weight: bold;
        margin-top: 0;
    }

    .research_text strong {
        font-size: 17px;
        color: #b99f50;
        display: block;
    }

    .research_text small {
        font-size: 17px;
        color: #777;
        display: block;
    }

    .research_text p {
        font-size: 17px;
        color: #929291;
        margin: 15px 0 0 0;
    }


/*.Articles_Analytics h1 {
    text-align: center;
}*/

.Articlesbox {
    position: relative;
}

.Articles_caption {
    background: rgb(26 54 94 / 0.8);
    min-height: 70px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    color: #fff;
    padding: 10px 15px;
}

    .Articles_caption h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

        .Articles_caption h4 small {
            font-size: 16px;
            color: #c2c2c2;
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
            font-weight: 600;
        }

    .Articles_caption span {
        position: absolute;
        top: -32px;
       /* right: 0;*/
        font-size: 16px;
        color: #fff;
        padding: 5px 10px;
        min-width: 110px;
        text-align: center;
    }

.border {
    width: 100%;
    height: 10px;
}


.Articles_Analytics a.Seeall {
    font-size: 16px;
    color: #b99f50;
    position: absolute;
    right: 16px;
    top: 8px;
}

    .Articles_Analytics a.Seeall i {
        font-size: 22px;
        color: #b99f50;
        font-weight: bold;
        margin-right: 10px;
        vertical-align: middle;
    }

.tweet span {
    font-size: 18px;
    color: #929291;
    position: absolute;
    top: 5px;
   /* left: 15px;*/
   right:15px;
}

    .tweet span i {
        color: #2cb8eb;
        font-size: 30px;
        margin-right: 10px;
        vertical-align: middle;
    }


.videobox {
    background: #f7f7f7;
    padding: 25px;
}

    .videobox h3 {
        font-size: 24px;
        color: #1a365e;
        font-weight: bold;
        min-height: 90px;
        margin: 20px 0;
    }

    .videobox ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .videobox small {
        font-size: 16px;
        color: #777;
    }

    .videobox span {
        font-size: 16px;
        color: #777;
        direction: ltr;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        font-weight: 600;
        margin: 0 10px;
    }

    .videobox strong {
        font-size: 16px;
        color: #777;
        direction: ltr;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
    }


footer {
    background: #f7f7f7;
    padding: 60px 0;
    margin-top: 50px;
    border-top: 5px solid #d9bd68;
}

    footer h6 {
        font-size: 24px;
        color: #1a365e;
        font-weight: bold;
        margin-bottom: 30px;
    }

.footerlogo p {
    font-size: 16px;
    color: #929291;
    margin-top: 20px;
}

footer li {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}

    footer li a {
        font-size: 16px;
        color: #777;
        padding-right: 30px;
        position: relative;
    }

        footer li a::before {
            content: "\f105";
            font-family: fontawesome;
            position: absolute;
            top: -8px;
            right: 0;
            color: #d9bd68;
            font-size: 20px;
            font-weight: bold;
            font-size: 24px;
        }

.Sub_Links li {
    width: 100%;
}

.location {
    display: flex;
    align-items: center;
}

    .location span {
        font-size: 16px;
        color: #8a8a8a;
        padding-right: 25px;
    }

        .location span strong {
            display: block;
        }

.mail {
    display: flex;
    align-items: center;
}

    .mail a {
        font-size: 16px;
        color: #1a56ad;
        padding-right: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

.call {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

    .call aside {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.num {
    padding-right: 25px;
}

    .num a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #8a8a8a;
        font-size: 18px;
        font-weight: bold;
        display: table;
    }

.Publications_bg::before {
    content: "";
    width: 100%;
    height: 315px;
    background: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
}

.Publications_bg {
    position: relative;
    padding-top: 30px;
}

.bookimg {
    margin-top: -70px;
}

.Publications .carousel-wrap {
    margin: 0px auto;
    padding: 0 7% 0 3%;
    width: 100%;
    position: relative;
}

/* fix blank or flashing items on carousel */
#Publications .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

#Publications .owl-item img {
    display: block;
    width: auto;
    margin: 0 auto;
}
/* end fix */
#Publications .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

#Publications .owl-nav i {
    font-size: 36px;
    color: #fff;
    background: #1a365e;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

#Publications .owl-nav .owl-prev {
    left: -30px;
    display: none;
}

#Publications .owl-nav .owl-next {
    right: -82px;
    top: 80px;
    bottom: auto;
    position: absolute;
}


#Publications small {
    font-size: 16px;
    color: #777;
    display: block;
    text-align: center;
    margin-top: 13px;
}

#Publications h3 {
    font-size: 24px;
    color: #1a365e;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#Publications p {
    font-size: 17px;
    color: #aaaaaa;
    text-align: center;
}


.mobile_menu {
    display: none;
    padding: 15px;
    background: #f7f7f7;
}

.mobbar .moblogo {
    width: 170px;
}

.mobbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar {
    font-size: 30px;
    color: #d9bd68;
    cursor: pointer;
}

    .menubar .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        margin-left: 0;
    }

.menu .navbar-nav > li,
.menu .navbar-nav,
.menu .search {
    float: none;
}

.menu .top_other {
    display: block;
}

.menu .toplink a {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

    .menu .toplink a::before {
        display: none;
    }

.menu {
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #f7f7f7;
    z-index: 4;
    padding: 15px;
    box-shadow: 0 0 5px #8e8e8e;
    display: none;
}

    .menu .language {
        margin-bottom: 15px;
    }

.closebtn {
    font-size: 30px;
    margin-bottom: 10px;
    color: #d9bd68;
    position: relative;
    top: -7px;
    right: 0;
    cursor: pointer;
}



.bread_crumb {
    background: #1a365e;
}

.breadcrumb {
    padding: 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

    .breadcrumb > li + li:before {
        padding: 0 13px;
        color: #7587a0;
        content: "|";
    }

    .breadcrumb li a {
        color: #7587a0;
        font-size: 16px;
    }

    .breadcrumb > .active {
        color: #d9bd68;
        font-size: 16px;
    }

.sidebar .tweet {
    position: relative;
}

.sidebar h1 {
    font-size: 26px;
    font-weight: bold;
    color: #1a365e;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a.Seeall {
    font-size: 16px;
    color: #b99f50;
    position: absolute;
    /*left: 16px;*/
    top: 8px;
}

.sidebar .videobox {
    margin-bottom: 30px;
}

.videobox h3 {
    font-size: 20px;
    color: #1a365e;
    font-weight: bold;
    min-height: inherit;
}

.sidebar .research_img {
    width: 100%;
}

.sidebar .research_text {
    background: #f7f7f7;
    padding: 15px 15px 30px 15px;
    width: 100%;
    margin-bottom: 30px;
}

    .sidebar .research_text p {
        font-size: 16px;
    }

.research_box .research_text small {
    text-align: left;
    margin-bottom: 5px;
}

.sidebar .research_text h3 {
    font-size: 20px;
    color: #777;
    font-weight: bold;
    margin-top: 0;
}

    .sidebar .research_text h3 a {
        color: #b99f50;
    }


.downloadlink span {
    font-size: 16px;
    color: #929291;
    display: table;
}

.downloadlink a {
    font-size: 18px;
    color: #929291;
    font-weight: bold;
    display: table;
}

.downloadlink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .downloadlink img {
        margin-right: 20px;
    }

strong.Related_topics {
    color: #c9b577;
    font-size: 17px;
    display: block;
}

.defense_policy a {
    font-size: 16px;
    color: #466faa;
    text-decoration: underline;
}


.armybox {
    margin-top: 30px;
    position: relative;
}

    .armybox img {
        width: 100%;
    }

.news {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: #1a365e;
    height: 100%;
}

.newstext {
    padding: 20px;
    color: #fff;
}

    .newstext strong {
        color: #fff;
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }

    .newstext p {
        color: #b4c2d5;
        font-size: 16px;
    }

    .newstext a {
        font-size: 16px;
        color: #b99f50;
    }

        .newstext a i {
            font-size: 22px;
            color: #b99f50;
            font-weight: bold;
            margin-right: 10px;
            vertical-align: middle;
        }

.Introduction h2 {
    font-size: 26px;
    color: #1a365e;
    font-weight: bold;
}

    .Introduction h2 span {
        font-size: 18px;
        color: #b99f50;
        margin-right: 10px;
    }

.Introduction p {
    font-size: 16px;
    color: #929291;
    margin-bottom: 20px;
}

.downloadlink2 {
    justify-content: flex-start;
}

    .downloadlink2 img {
        margin-right: 0px;
        margin-left: 20px;
        width: 45px;
    }

.view_other {
    padding: 15px 0;
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    justify-content: space-between;
}

.view_cal span {
    font-size: 16px;
    color: #777;
    font-weight: bold;
    direction: ltr;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

    .view_cal span i {
        color: #b99f50;
        margin-left: 10px;
        vertical-align: middle;
        font-size: 18px;
    }

.view_cal aside span {
    font-size: 16px;
    color: #777;
    direction: ltr;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 600;
    margin: 0 10px;
}

.view_cal aside small {
    font-size: 16px;
    color: #777;
}
.view_cal span {
    margin-right: 30px;
}
    .view_cal aside{
        display:inline-block;
    }
    .view_cal i {
        color: #1a365e;
        font-size: 20px;
    }

    .print_social a {
        font-size: 16px;
        color: #777777;
    }

        .print_social a i {
            font-size: 20px;
            color: #777777;
            margin-left: 10px;
            vertical-align: middle;
        }

    .print_social aside span {
        font-size: 16px;
        color: #777777;
    }

    .print_social aside a {
        color: #708388;
        font-size: 22px;
        margin-right: 10px;
        vertical-align: middle;
    }

.defense_policy {
    margin-top: 10px;
}

.ptext {
    font-size: 16px;
    color: #929291;
    margin-bottom: 25px;
    line-height: 24px;
}

.arrow {
    text-align: left;
}

    .arrow button {
        background: #d9bd68;
        border: none;
        color: #fff;
        font-size: 60px;
        padding: 45px 25px;
        font-weight: bold;
    }

        .arrow button:hover,
        .arrow button:focus {
            background: #b99f50;
        }

.alinkdiv {
    margin-top: 80px;
    text-align: left;
}

.alink {
    color: #1a365e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: inherit;
    margin-top: 15px;
    text-decoration: underline;
}

    .alink:hover,
    .alink:focus {
        color: #b99f50;
    }


.form label {
    font-size: 18px;
    color: #858585;
}

    .form label sup {
        color: #f00;
        font-size: 18px;
    }

.form input {
    height: 60px;
    border: 1px solid #d8d8d8;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
}

.form select {
    background: url("../images/select-arrow.png") #fff;
    background-repeat: no-repeat;
    background-position: 15px center;
    height: 60px;
    border: 1px solid #d8d8d8;
    padding: 5px 15px 5px 40px;
    font-size: 18px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.list_link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.arrow_style li a {
    font-size: 16px;
    color: #777777;
    position: relative;
    padding-right: 30px;
    margin-bottom: 10px;
    display: block;
}

    .arrow_style li a::before {
        content: "\f104";
        font-family: fontawesome;
        position: absolute;
        top: 0;
        right: 0;
        color: #d9bd68;
        font-size: 28px;
        font-weight: bold;
        line-height: 20px;
    }


.squer_style li a {
    font-size: 16px;
    color: #777777;
    position: relative;
    padding-right: 30px;
    margin-bottom: 10px;
    display: block;
}

    .squer_style li a::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #d9bd68;
        position: absolute;
        top: 3px;
        right: 0;
    }


.Label_Colors {
    text-align: left;
    margin-top: 80px;
}

    .Label_Colors span {
        font-size: 18px;
        color: #777777;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        display: block;
        margin-bottom: 20px;
    }

    .Label_Colors small {
        width: 65px;
        height: 20px;
        display: inline-block;
        margin-right: 10px;
    }

.lbg1 {
    background: #66c2e3;
    color: #66c2e3;
}

.lbg2 {
    background: #60aeb7;
    color: #60aeb7;
}

.lbg3 {
    background: #d2966a;
    color: #d2966a;
}

.lbg4 {
    background: #83ad6f;
    color: #83ad6f;
}

.lbg5 {
    background: #2f6c8d;
    color: #2f6c8d;
}

.snj-panel .panel {
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.snj-panel .panel-heading.active {
    background: #1a365e;
}

    .snj-panel .panel-heading.active a {
        color: #fff;
    }

.panel-default h4 {
    font-size: 28px;
    color: #757575;
    font-weight: bold;
}

.snj-panel .panel-title a {
    color: #fff;
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-heading a:before {
    font-family: "fontawesome";
    content: "\f107";
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 26px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
}

#accordion .panel-body {
    padding: 15px 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
}

.panel-default h4 {
    font-size: 28px;
    color: #1a365e;
    font-weight: bold;
}

.panel-default p {
    font-size: 16px;
    color: #909090;
    margin-bottom: 25px;
}

.panel-default a {
    color: #b99f50;
    font-size: 16px;
}

    .panel-default a i {
        font-size: 24px;
        margin-right: 10px;
        font-weight: bold;
        vertical-align: middle;
    }

.panel-default > .panel-heading {
    color: #333;
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}



.print_social aside {
    width: 100%;
    text-align: right;
}