
@media only screen and (min-width:1920px) {
    .container {
        width: 1650px;
    }
    bannerimg {
        height: 660px !important;
    }
	  .carousel-control.left {
        background-image: none;
        right: -110px;
		bottom: 115px;
    }

    .carousel-control.right {
        background-image: none;
        left: -110px;
		bottom: 115px;
    }
}

@media only screen and (min-width:1600px) and (max-width:1900px) {
    .container {
        width: 1550px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 20px;
        margin-left: 15px;
    }

    .banner_caption aside {
        font-size: 40px;
    }

    .bluebox {
        padding: 28px 35px;
        margin-top: 25px;
    }

    .banner_ul h4 {
        font-size: 20px;
    }

    .banner_ul span,
    .banner_ul small,
    .research_text small,
    .research_text strong,
    .research_text p,
    .newslatter span {
        font-size: 15px;
    }

    .Institute_News li p {
        font-size: 16px;
    }

    .research_text h3,
    .newslatter strong {
        font-size: 20px;
    }

    .newstext p {
        font-size: 14px;
    }
}


@media only screen and (min-width:1400px) and (max-width:1590px) {
    .container {
        width: 1350px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
        margin-left: 10px;
    }

    .dropdown-menu > li > a {
        font-size: 18px;
    }

    .banner_caption aside {
        font-size: 30px;
        line-height: 34px;
        margin-top: 0;
    }

    .bluebox {
        padding: 28px 35px;
        margin-top: 15px;
    }

        .bluebox p {
            font-size: 15px;
        }

        .bluebox a.detail {
            font-size: 18px;
            margin-top: 18px;
        }

    .banner_ul h4 {
        font-size: 18px;
    }

    .banner_ul span,
    .banner_ul small,
    .research_text small,
    .research_text strong,
    .research_text p,
    .newslatter span {
        font-size: 14px;
    }

    .Institute_News li {
        padding: 20px;
        margin-bottom: 10px;
    }

        .Institute_News li p,
        #Publications p {
            font-size: 14px;
        }

    .research_text h3,
    .newslatter strong,
    #Publications h3 {
        font-size: 20px;
    }

    .videobox h3 {
        font-size: 20px;
        min-height: 55px;
    }

    .carousel-control {
        bottom: 100px;
        width: 110px;
        height: 100px;
        line-height: 100px;
        font-size: 34px;
    }

    .Articles_caption h4 {
        font-size: 20px;
    }

    .num a,
    .mail a,
    .location span,
    .footerlogo p,
    footer li a {
        font-size: 15px;
    }

    .newstext p {
        font-size: 14px;
        margin: 0;
    }

    .newstext {
        padding: 10px;
    }

        .newstext strong {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .view_cal, .print_social {
        width: 35%;
    }

    .sidebar .research_text h3 {
        font-size: 16px;
    }

    .sidebar .research_text p {
        font-size: 14px;
    }

    .downloadlink img {
        width: 75px;
    }

    .downloadlink2 img {
        width: 45px;
    }
}

@media only screen and (min-width:1300px) and (max-width:1367px) {

    div .bannerimg {
        height: 500px !important;
    }
    .container {
        width: 1300px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        margin-left: 10px;
    }

    .dropdown-menu > li > a {
        font-size: 16px;
    }

    .banner_caption aside {
        font-size: 30px;
        line-height: 34px;
        margin-top: 0;
    }

    .banner_ul li {
        width: 25%;
    }

    .bluebox {
        padding: 18px 25px;
        margin-top: 15px;
    }

        .bluebox p {
            font-size: 15px;
        }

        .bluebox a.detail {
            font-size: 18px;
            margin-top: 18px;
        }

    .banner_ul h4,
    .Institute_News li small {
        font-size: 16px;
    }

    .banner_ul span,
    .banner_ul small,
    .research_text small,
    .research_text strong,
    .research_text p,
    .newslatter span {
        font-size: 14px;
    }

    .Institute_News li {
        padding: 15px 10px;
        margin-bottom: 15px;
    }

        .Institute_News li strong {
            font-size: 25px;
        }

        .Institute_News li p,
        #Publications p {
            font-size: 14px;
        }

    .research_text h3,
    .newslatter strong,
    #Publications h3 {
        font-size: 18px;
    }

    .research_text {
        padding-right: 30px;
        width: 64%;
    }

        .research_text h3 {
            margin-bottom: 5px;
        }

        .research_text p {
            margin-top: 5px;
        }

    .videobox h3 {
        font-size: 20px;
        min-height: 55px;
    }

    .carousel-control {
        bottom: 100px;
        width: 110px;
        height: 100px;
        line-height: 100px;
        font-size: 34px;
    }

    .Articles_caption h4 {
        font-size: 20px;
    }

    .num a,
    .mail a,
    .location span,
    .footerlogo p,
    footer li a {
        font-size: 15px;
    }

    #Publications .owl-nav i {
        font-size: 24px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    #Publications .owl-nav .owl-next {
        right: -66px;
    }

    .newslatter strong {
        font-size: 16px;
    }

    .newstext p {
        font-size: 14px;
        margin: 0;
    }

    .newstext {
        padding: 10px;
    }

        .newstext strong {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .view_cal, .print_social {
        width: 35%;
    }

    .sidebar .research_text h3 {
        font-size: 16px;
    }

    .sidebar .research_text p {
        font-size: 14px;
    }

    .downloadlink img {
        width: 65px;
    }

    .downloadlink2 img {
        width: 45px;
    }

    .news img {
        height: 130px;
        object-fit: cover;
    }

    .Introduction p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1280px) {
    .container {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        margin-left: 10px;
    }

    .dropdown-menu > li > a {
        font-size: 16px;
    }

    .banner_caption aside {
        font-size: 30px;
        line-height: 34px;
        margin-top: 0;
    }

    .banner_ul li {
        width: 25%;
    }

    .bluebox {
        padding: 18px 25px;
        margin-top: 15px;
    }

        .bluebox p {
            font-size: 15px;
        }

        .bluebox a.detail {
            font-size: 18px;
            margin-top: 18px;
        }

    .banner_ul h4,
    .Institute_News li small {
        font-size: 16px;
    }

    .banner_ul span,
    .banner_ul small,
    .research_text small,
    .research_text strong,
    .research_text p,
    .newslatter span {
        font-size: 14px;
    }

    .Institute_News li {
        padding: 15px 10px;
        margin-bottom: 15px;
    }

        .Institute_News li strong {
            font-size: 25px;
        }

        .Institute_News li p,
        #Publications p {
            font-size: 14px;
        }

    .research_text h3,
    .newslatter strong,
    #Publications h3 {
        font-size: 18px;
    }

    .research_text {
        padding-right: 30px;
        width: 64%;
    }

        .research_text h3 {
            margin-bottom: 5px;
        }

        .research_text p {
            margin-top: 5px;
        }

    .videobox h3 {
        font-size: 20px;
        min-height: 55px;
    }

    .carousel-control {
        bottom: 93px;
        width: 110px;
        height: 100px;
        line-height: 100px;
        font-size: 34px;
    }

    .Articles_caption h4 {
        font-size: 20px;
    }

    .num a,
    .mail a,
    .location span,
    .footerlogo p,
    footer li a {
        font-size: 14px;
    }

    #Publications .owl-nav i {
        font-size: 24px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    #Publications .owl-nav .owl-next {
        right: -66px;
    }

    .newslatter strong {
        font-size: 16px;
    }

    .bookimg {
        margin-top: -65px;
    }

    .newstext p {
        font-size: 14px;
        margin: 0;
    }

    .newstext {
        padding: 10px;
    }

        .newstext strong {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .view_cal, .print_social {
        width: 35%;
    }

    .sidebar .research_text h3 {
        font-size: 16px;
    }

    .sidebar .research_text p {
        font-size: 14px;
    }

    .downloadlink img {
        width: 65px;
    }

    .downloadlink2 img {
        width: 45px;
    }

    .news img {
        height: 130px;
        object-fit: cover;
    }

    .Introduction p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
    header {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    .container {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        margin-left: 0px;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-menu {
        min-width: 100%;
        padding: 0;
        position: initial;
        margin-bottom: 15px;
    }

        .dropdown-menu > li > a {
            font-size: 16px;
        }

    .banner_caption aside {
        font-size: 30px;
        line-height: 34px;
        margin-top: 0;
    }

    .banner_ul li {
        width: 25%;
    }

    .bluebox {
        padding: 25px;
        margin-top: 20px;
    }

        .bluebox p {
            font-size: 15px;
        }

        .bluebox a.detail {
            font-size: 18px;
            margin-top: 18px;
        }

    .banner_ul h4,
    .Institute_News li small {
        font-size: 16px;
    }

    .banner_ul span,
    .banner_ul small,
    .research_text small,
    .research_text strong,
    .research_text p,
    .newslatter span {
        font-size: 14px;
    }

    .Institute_News li {
        padding: 15px 10px;
        margin-bottom: 15px;
    }

        .Institute_News li strong {
            font-size: 25px;
        }

        .Institute_News li p,
        #Publications p {
            font-size: 14px;
        }

    .research_text h3,
    .newslatter strong,
    #Publications h3 {
        font-size: 18px;
    }

    .research_text {
        padding-right: 30px;
        width: 64%;
    }

        .research_text h3 {
            margin-bottom: 5px;
        }

        .research_text p {
            margin-top: 5px;
        }

    .videobox h3 {
        font-size: 20px;
        min-height: 55px;
    }

    .carousel-control {
        bottom: 93px;
        width: 110px;
        height: 100px;
        line-height: 100px;
        font-size: 34px;
    }

    .Articles_caption h4 {
        font-size: 20px;
    }

    .num a,
    .mail a,
    .location span,
    .footerlogo p,
    footer li a {
        font-size: 14px;
    }

    #Publications .owl-nav i {
        font-size: 24px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    #Publications .owl-nav .owl-next {
        right: -66px;
    }

    .newslatter strong {
        font-size: 16px;
    }

    .bookimg {
        margin-top: -20px;
    }

    .banner_ul {
        position: initial;
        margin-top: 30px;
    }

    .carousel-control {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        position: initial;
        display: inline-block;
        margin-top: -20px;
    }

    .Articles_caption h4 {
        font-size: 16px;
    }

    .comntitle {
        font-size: 30px;
    }

    .Publications_bg {
        padding-top: 15px;
    }

        .Publications_bg::before {
            height: 300px;
        }

    .comnpadding {
        padding: 30px 0;
    }

    .videobox h3 {
        font-size: 16px;
        min-height: 40px;
    }

    .videobox {
        padding: 10px;
    }

        .videobox strong,
        .videobox span,
        .videobox small {
            font-size: 14px;
        }

        .videobox ul li img {
            width: 20px !important;
        }

    footer {
        padding: 30px 0;
        margin-top: 30px;
    }

    .footerlogo {
        text-align: center;
        width: 50%;
        margin: 0 auto 30px;
    }

    .Institute_News li {
        padding: 10px;
        width: 33%;
        display: inline-block;
        text-align: center;
    }

        .Institute_News li span {
            border-left: none;
            margin-left: 0;
            padding: 0 0 10px 0;
            display: inline-block;
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 10px;
        }

    .newstext p {
        font-size: 14px;
        margin: 0;
    }

    .newstext {
        padding: 10px;
    }

        .newstext strong {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .view_cal, .print_social {
        width: 35%;
    }

    .sidebar .research_text h3 {
        font-size: 16px;
    }

    .sidebar .research_text p {
        font-size: 14px;
    }

    .downloadlink img {
        width: 45px;
    }

    .downloadlink2 img {
        width: 45px;
    }

    .news img {
        height: 130px;
        object-fit: cover;
    }

    .Introduction p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .defense_policy {
        margin-bottom: 15px;
    }

        .defense_policy h1 {
            margin-bottom: 15px;
        }

    .armybox img {
        width: 100%;
        height: 330px;
        object-fit: cover;
    }

    .news img {
        height: 130px;
    }

    .print_social a,
    .print_social aside span,
    .view_cal span,
    .view_cal aside span,
    .view_cal aside small {
        font-size: 14px;
    }

    .print_social aside a {
        font-size: 20px;
        margin-right: 5px;
    }

    .view_cal, .print_social {
        width: 45%;
    }
    /* .view_other{
		flex-wrap: wrap;
	} */
    .view_cal, .print_social {
        width: 50%;
    }

    .view_cal {
        display: block;
    }

    .print_social {
        flex-direction: column;
        text-align: left;
    }

    .uikit_Institute_News li {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .bannerimg img {
        width: 100%;
    }

    .carousel-control {
        margin-top: 10px;
    }

    #Articles_Analytics .owl-nav,
    #Visuals_Video .owl-nav {
        text-align: center;
        margin-top: 20px;
    }

        #Articles_Analytics .owl-nav i,
        #Visuals_Video .owl-nav i {
            background: #1a365e;
            color: #fff;
            margin: 0 5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 22px;
        }

    .subscribe {
        display: flex;
        margin-top: 20px;
    }

        .subscribe input {
            height: 60px;
        }

    .copyright,
    .copylink {
        text-align: center;
    }

    .footerlogo {
        width: 100%;
    }

    .comntitle {
        font-size: 26px;
    }

    .bookimg {
        margin-top: 0;
    }

    .Institute_News li {
        padding: 15px 10px;
        margin-bottom: 15px;
        width: 33%;
        display: inline-block;
        text-align: center;
    }

        .Institute_News li span {
            border-left: none;
            margin-left: 0;
            padding: 0 0 10px 0;
            display: inline-block;
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 10px;
        }
}

@media screen and (max-width: 767px) {
    .Research_studies li {
        display: block;
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .research_img,
    .research_text {
        width: 100%;
    }

        .research_img img {
            margin-bottom: 15px;
        }

    .banner_ul {
        display: block;
    }

        .banner_ul li {
            width: 100%;
            border-bottom: 1px solid #cccccc;
            border-left: none;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }

            .banner_ul li:last-child {
                border-bottom: none;
                border-left: none;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

    .Articles_Analytics h1 {
        text-align: right;
    }

    .comntitle {
        font-size: 22px;
    }

    #Publications .owl-nav .owl-next {
        right: -20px;
    }

    .subscribe input,
    .subscribe button {
        font-size: 16px;
    }

    .research_text {
        padding-right: 0;
    }

    .Research_studies,
    .Institute_News {
        overflow: scroll;
        margin-bottom: 30px;
    }

        .Research_studies ul {
            width: 1000px;
            display: inline-block;
        }

        .Research_studies li {
            border-bottom: none;
            border-left: 1px solid #d7d7d7;
            padding-left: 25px;
            margin-left: 25px;
            width: 315px;
            float: right;
            margin-bottom: 0;
            padding-bottom: 0;
        }

            .Research_studies li:last-child {
                margin-left: 0;
                padding-left: 0;
                border-left: none;
            }

        .Institute_News ul {
            width: 1625px;
            display: inline-block;
        }

        .Institute_News li {
            width: 320px;
            margin-left: 3px;
        }

    .view_other {
        flex-direction: column;
    }

    .view_cal, .print_social {
        width: 100%;
    }

    .news {
        width: 100%;
        position: initial;
        background: #1a365e;
        margin: 15px 0;
    }

    .print_social {
        flex-direction: row;
    }

    .view_cal {
        display: flex;
        margin-bottom: 10px;
    }

    .sidebar .tweet {
        margin-bottom: 25px;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
        background: #1a365e;
        color: #fff;
    }

    #accordion .panel-body {
        padding: 15px 0;
        text-align: center;
    }

    .sidebar a.Seeall {
        display: none;
    }
}

@media screen and (max-width:480px) {
}

@media screen and (max-width:360px) {
}
