/*.Articlesbox img {
    max-width:403px;
    max-height:251px;
}
*/
.research_text  a {
    font-size: 24px;
    color: #777;
    font-weight: bold;
    margin-top: 0;
}

.Share_Now {
    margin-top: 0;
    text-align: right;
    padding-right: 0;
}

.addthis_inline_follow_toolbox {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -4px;
}

.addthis_inline_share_toolbox {
    display: inline-block;
}

.addthis_inline_follow_toolbox p {
    display: none;
}

.subscribe a {
    background: #1a365e;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: none;
    width: 180px;
    height: 78px;
    line-height: 78px;
    text-align: center;
}


.dropdown-menu > li > a {  
    font-weight: bold;
    font-size: 20px;
}

img.artimgcls {
    height: 350px;
    width: 350px;
}


.carousel-control.left {
    background-image: none;
    left: 100%;
}



.research_text {
    padding-left: 50px;
    width: 64%;
}

.Articles_Analytics h1 {
    text-align: left;
}

/*div#Publications {
    direction: rtl;
}*/

/*.bluebox::after {
    content: "";
    background: #1a365e;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 511px;
}*/

.tweet span {   
    right: 15px;
}

.location span {
    font-size: 16px;
    color: #8a8a8a;
    padding-left: 25px;
}
.num {
    padding-left: 25px;
}
.mail a {
    font-size: 16px;
    color: #1a56ad;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/*
footer li a::after {
    content: "\f104";
    font-family: fontawesome;
    position: absolute;
    top: -8px;
    right: 0;
    color: #d9bd68;
    font-size: 20px;
    font-weight: bold;
    font-size: 24px;
}*/

footer li a {
    font-size: 16px;
    color: #777;
    /*padding-left: 30px;*/
    padding-left: 9px;
    padding-right: 9px;
    position: relative;
}

    footer li a::before {
        
        left: 0;
       
    }

.toplink a::before {   
    right: -15px;   
}

.topsocial span {
   
    margin-right: 20px;
}

.Articles_caption span {
    left: 0;   
}

/*08-12-2020*/
.bread_crumb {
    background-color: #f7f7f7;
}

header {
    padding: 10px 0;
    background: #1a365e;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.menu {
    background: #1a365e;
}
/*08-12-2020*/


@media only screen and (max-width: 1367px) and (min-width: 1300px) {
    .research_text a {
        margin-bottom: 5px;
    }
    .research_text {
        padding-left: 30px;
        width: 64%;
    }

}

@media only screen and (max-width: 1367px) and (min-width: 1300px) {
    .research_text a, .newslatter strong, #Publications a {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 1024px) {
    .dropdown-menu > li > a {
        font-size: 16px;
    }
}


@media screen and (max-width: 767px) {
    img.artimgcls {
        height: 200px;
        width: 200px;
    }

    table.Tblres td {
        display: block;
       /* min-height:300px;*/
    }

        table.Tblres td img {
            min-height: 300px;
            min-width: 300px;
        }


    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #dcbf69;
    }
}



