/*.Articlesbox img {
    max-width:403px;
    max-height:251px;
}
*/
.research_text  a {
    font-size: 20px;
    color: #777;
    font-weight: bold;
    margin-top: 0;
}

.Share_Now {
    margin-top: 0;
    text-align: right;
    padding-right: 0;
}

.addthis_inline_follow_toolbox {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -4px;
}

.addthis_inline_share_toolbox {
    display: inline-block;
}

.addthis_inline_follow_toolbox p {
    display: none;
}

.subscribe a {
    background: #1a365e;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    border: none;
    width: 180px;
    height: 78px;
    line-height: 78px;
    text-align: center;
}


.dropdown-menu > li > a {  
    font-weight: bold;
    font-size: 20px;
}

img.artimgcls {
    height: 350px;
    width: 350px;
}

/*08-12-2020*/
.bread_crumb {
    background-color: #f7f7f7;
}

header {
    padding: 10px 0;
    background: #1a365e;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.menu {    
    background: #1a365e;    
}
/*08-12-2020*/

.research_text strong a {
    font-size: 17px;
    color: #b99f50;
    display: block;
}




@media only screen and (max-width: 1367px) and (min-width: 1300px) {
    .research_text a {
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 1367px) and (min-width: 1300px) {
    .research_text a, .newslatter strong, #Publications a {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 1024px)  {
    .dropdown-menu > li > a {
        font-size: 16px;
    }
}




@media screen and (max-width: 767px) {
    img.artimgcls {
        height: 200px;
        width: 200px;
    }

    table.Tblres td {
        display: block;
       /* min-height:300px;*/
    }

        table.Tblres td img {
            min-height: 300px;
            min-width: 300px;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #dcbf69;
    }
}
